{% block stylesheet %}
  <link rel="stylesheet" href="{{ asset('css/Footer.css') }}" />
{% endblock %}


{% block body %}
  <footer>
    <div class="sommaire">
      <div id="socialMedia">

        <div class="reseaux" id="facebook">
          <a href="#"><img src="../Images/facebook_.png" /></a>
        </div>

        <div class="reseaux" id="instagram">
          <a href="#"><img src="../Images/instagram.png" /></a>
        </div>

        <div class="reseaux" id="twitter">
          <a href="#"><img src="../Images/twitter.png" /></a>
        </div>

        <div class="reseaux" id="youtube">
          <a href="#"><img src="../Images/youtube.png" /></a>
        </div>

      </div>

      <div class="services">
        <a href="#">Autodescription</a>
        <a href="#">Relation investisseur</a>
        <a href="#">Confidentialité</a>
        <a href="#">Nous contacter</a>
        <a href="#">Centre d'aide</a>
        <a href="#">Recrutement</a>
        <a href="#">Informations légales</a>
        <a href="#">Cartes cadeaux</a>
        <a href="#">Préférences de cookies</a>
        <a href="#">Presse</a>
        <a href="#">Conditions d'utilisations</a>
        <a href="#">Mentions légales</a>
      </div>
    </div>
  </footer>
{% endblock %}
