#MainSection {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    font-size: large;
    height: 100vh; 
    margin: 0; 
    padding-right: 200px; 
    padding-top: 150px;
    color:rgb(255, 255, 255)
}

body {
    background-image: url('../Images/banniere_bedflix.png');
    background-size: cover; 
    background-repeat: no-repeat;
    margin: 0; 
    padding: 0; 
    overflow: hidden;
}


.boutons {
    padding-top: 10px;
}

.boutons button {
    margin-right: 10px; 
}


.media {
    width: 150px;
    height: 50px;
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: black;
    font-size: large;
    border:none;
    padding-right: 10px;
}

.media .button {
    display: inline-block;
    width: 50%;
    height: 100%;
    text-align: center;
    background-color: blue; 
    color: rgb(0, 0, 0);
    text-decoration: none;  
}
.media1 {
    width: 150px;
    height: 50px;
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: black;
    font-size: large;
    background-color: rgb(60, 55, 55);
    border:none;
}

.media1 .button {
    display: inline-block;
    width: 50%;
    height: 100%;
    text-align: center;
    background-color: blue; 
    color: rgb(60, 55, 55);
    text-decoration: none;

}