{% extends 'base.html.twig' %}

{% block title %}Hello FilmsController!{% endblock %}


{% block body %}

<h1> PAGE DES FILMS </h1>


{# AJOUTER BANNIERE FILMS #}


{# BOUCLE CARROUSEL 1 #}
{# {% for film in films %} #}
    
{# {% endfor %} #}

{# BOUCLE CARROUSEL 2 #}
{# {% for film in films %} #}
    
{# {% endfor %} #}

{% endblock %}
