.carousel-container {
    /* position:absolute; */
    /* width: 500px;
    height: 500px; */
    justify-content: stretch;
}

.carousel {
    display: flex;
    /* transition: transform 1s ease-in-out; */
    justify-content: center;
    justify-content: space-evenly;
    margin: 5% 0% 5% 0%;
}

.carousel-slider {
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

}

.thumbnail {
    height: 250px;
    width: 175px;
}

