.carousel-container {
    /* position:absolute; */
    /* width: 500px;
    height: 500px; */
    justify-content: stretch;
}

.carrousel {
    /* display: flex; */
    /* transition: transform 1s ease-in-out; */
    /* justify-content: space-evenly; */
    
    margin: 5% 0% 5% 0%;
}

.carrousel-title {
    text-align: center;
}

.carousel-slider {
    left: -88px;
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

}

.thumbnail {
    height: 250px;
    width: 175px;
    margin: 1%;
}

.thumbnail:hover
{
    transform: scale(1.1);
    z-index: 1;
}
