.carousel-container {
    /* position:absolute; */
    /* width: 500px;
    height: 500px; */
    justify-content: stretch;
}

.carousel {
    display: flex;
    /* transition: transform 1s ease-in-out; */
    justify-content: center;
    justify-content: space-evenly;

}

.slide {
    display: inline-flex;
}

.slide img {
    height: 250px;
}
