body{
    font-family: 'BebasNeueRegular', sans-serif;
}

nav{
    margin: 0% 5% 0% 5%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: sticky;
    font-size: 30px;
}

nav #BedFlixLogo{
    display: inline-flex;
    flex-wrap: wrap;
    align-self: center;
    height: 50px;
}

nav #LeftSide{
    display: flex;
    flex-direction: row;
}

nav ul{
    display: flex;
     justify-content: space-between;
}


nav li{
    justify-content: space-between;
    list-style-type: none; /* Enleve les puce de la liste */
}


nav #RightSide{
    display: inline-flex;
    font-size: 25px;
    align-items: center;
}

nav  input {
    border: 1px solid white;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: start;
    width: 200px ;
    height: 40px;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav #RightSide img{
    cursor: pointer;
    height: 50px;
    width: 50px;
    margin: 5px;
} 


