body{
    font-family: 'BebasNeueRegular', sans-serif;
}

nav{
    margin: 0% 5% 0% 5%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: sticky;
    font-size: 30px;
}

nav #BedFlixLogo{
    display: inline-flex;
    flex-wrap: wrap;
    align-self: center;
    height: 50px;
}

nav #LeftSide{
    display: flex;
    flex-direction: row;
}

nav ul{
    display: flex;
     justify-content: space-between;
}


nav li{
    justify-content: space-between;
    list-style-type: none; /* Enleve les puce de la liste */
}


nav #RightSide{
    display: inline-flex;
    justify-content: space-between;
    font-size: 25px;
    align-items: center;
}

nav #RightSide input[type=text]{
    border: 1px solid white;
    background-color: rgb(0, 0, 0);
    margin-right: 15px;
    padding: 7px 20px;
    box-sizing: border-box;
    size: 31px;
    color: rgb(255, 255, 255);
}

nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
}
/* 
nav #RightSide img{
    cursor: pointer;
    height: 25px;
    width: 25px;
    margin-bottom: 15px;
} 


nav #Accueil{
    font-weight: bold;
} */

