{% extends 'base.html.twig' %}

{% block title %}Hello SeriesController!{% endblock %}

{% block body %}
<h1> PAGE DES SERIES </h1>


{# AJOUTER BANNIERE FILMS #}


{# BOUCLE CARROUSEL 1 #}
{# {%for serie in series  %} #}
    
{# {% endfor %} #}

{# BOUCLE CARROUSEL 2 #}
{# {% for serie in series %} #}
    
{# {% endfor %} #}
{% endblock %}
