{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}



{% block body %}


<div class="example-wrapper">

<h1> Accueil  </h1>

<div>
    {#  AJOUTER BANNIERE FILMS/SERIE VEDETTE #}
</div>



{# plusieurs carrousels mêlant
 films et séries (en ce moment, 
 genres tendances, personnalisées pour l’utilisateur) #}

<div>
{# CARROUSEL 1 --> FILMS/SERIE ~ #EN_CE_MOMENT #}
</div>

<div>
{# CARROUSEL 2 --> FILMS/SERIE ~ #TENDANCES #}
</div>

<div>
{# CARROUSEL 3 --> FILMS/SERIE  ~ essayer carrousel "PERSONALISE" #}
</div>

</div>
{% endblock %}
