{% extends 'base.html.twig' %}

{% block title %}
  Accueil
{% endblock %} {# <title>Accueil - Bedflix</title> #}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/Carrousel.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/Accueil.css') }}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}


{% block body %}
  <div class="example-wrapper">

    {# AJOUTER BANNIERE FILMS/SERIE VEDETTE #}
    <div id="MainSection">
      <div class="SectionBox" id="Description">
        <h1>Peaky Blinders</h1>
        <h3>Dernière saison disponible dès maintenant !</h3>
        <p>
          En 1919, à Birmingham, les frères Shelby, issus d'une famille de gitans, sont à la tête d'un gang qui tire ses revenus de paris clandestins, de trafics en tous genres et de vols.
          <br /> Tommy Shelby, le leader de la fratrie, cherche surtout à grimper dans l'échelle sociale. Par tous les moyens.
        </p>
        <div class="boutons">
            <button class="media"><a class="fas fa-play fa-lg"></a> Lecture</button>
            <button class="media1"><a class="fas fa-info-circle fa-lg"></a> Plus d'infos</button>
        </div>
      </div>
    </div>

    {# HEADER #}

    {# plusieurs carrousels mêlant
 films et séries (en ce moment, 
 genres tendances, personnalisées pour l’utilisateur) #}

    {# CARROUSEL 1 --> FILMS/SERIE ~ #EN_CE_MOMENT #}
    {# <div class="carousel-container">
      <div class="carousel">
        <div class="slide"><img src="../images/affiche_1.jpg" alt="Affiche 1" /></div>
        <div class="slide"><img src="../images/affiche_2.jpg" alt="Affiche 2" /></div>
        <div class="slide"><img src="../images/affiche_joker.png" alt="Affiche 3" /></div>
        <div class="slide"><img src="../images/affiche_4.jpg" alt="Affiche 4" /></div>
        <div class="slide"><img src="../images/affiche_1.jpg" alt="Affiche 1" /></div>
        <div class="slide"><img src="../images/affiche_2.jpg" alt="Affiche 2" /></div>
        <div class="slide"><img src="../images/affiche_joker.png" alt="Affiche 3" /></div>
        <div class="slide"><img src="../images/affiche_4.jpg" alt="Affiche 4" /></div>
        <div class="slide"><img src="../images/affiche_1.jpg" alt="Affiche 1" /></div>
        <div class="slide"><img src="../images/affiche_2.jpg" alt="Affiche 2" /></div>
        <div class="slide"><img src="../images/affiche_joker.png" alt="Affiche 3" /></div>
        <div class="slide"><img src="../images/affiche_4.jpg" alt="Affiche 4" /></div>
      </div>
    </div> #}
<section id="FilmsCarousel"></section>


    {% block javascripts %}
        <script src="{{ asset('Script/Carrousel.js') }}"></script>
    {% endblock %}

    {# CARROUSEL 2 --> FILMS/SERIE ~ #TENDANCES #}
    <div class="carousel-container">
      <div class="carousel">
        <div class="slide"><img src="../images/affiche_1.jpg" alt="Affiche 1" /></div>
        <div class="slide"><img src="../images/affiche_2.jpg" alt="Affiche 2" /></div>
        <div class="slide"><img src="../images/affiche_joker.png" alt="Affiche 3" /></div>
        <div class="slide"><img src="../images/affiche_4.jpg" alt="Affiche 4" /></div>
        <div class="slide"><img src="../images/affiche_1.jpg" alt="Affiche 1" /></div>
        <div class="slide"><img src="../images/affiche_2.jpg" alt="Affiche 2" /></div>
        <div class="slide"><img src="../images/affiche_joker.png" alt="Affiche 3" /></div>
        <div class="slide"><img src="../images/affiche_4.jpg" alt="Affiche 4" /></div>
      </div>
    </div>

    <div>
      {# CARROUSEL 3 --> FILMS/SERIE ~ essayer carrousel "PERSONALISE" #}
    </div>
  </div>
{% endblock %}
