{% extends 'base.html.twig' %}

{% block title %}Ajouter un film{% endblock %}

{% block body %}
    <h1>Ajouter un film</h1>

    {# {{ include('chapitres_edit/_form.html.twig') }} #}

    <a href="{{ path('#') }}">Retour a la liste des films</a>
{% endblock %}
